@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Mozilla+Headline:wght@200..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));



body {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}